ion-toolbar {
  --color: #fff;
  --background: var(--ion-color-primary);
}

ion-button,ion-menu-button {--color: #fff;}

.toolbar{border-radius: 5px;}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  display: flex;
  justify-content: flex-start;
}

.date input {
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 5px;
  padding: 4px;
  background: var(--ion-color-primary);
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  input{font-size: 1.05em;}
  form {padding: 0 5px;}
}

.inputSearch {
  display: flex;
  justify-content: flex-end;
}

// agendamentos
ion-card {
  width: 100vw;

  .ok {--color: var(--ion-color-success);}
  .waiting {--color: var(--ion-color-warning);}

  #horario {--color: var(--ion-color-primary);}

  .delete {--color: var(--ion-color-primary);}

  ion-card-subtitle {font-size: 1.3em;}
  ion-card-subtitle,ion-card-content {color: #000;}
}