<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon name="people"></ion-icon>
        <ion-label>Clientes</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Comandas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Serviços</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mensagens</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Lembretes</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Faturamento</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>