form {
  margin: 3%;
  padding: 3%;
  border-radius: 20px;
  border: 2px solid #000;

  ion-icon {
    color: var(--ion-color-primary);
  }

  #passPreview {
    --border-color: var(--ion-color-primary);
  }

  .btnLink {
    margin: 3% 15% 3% 15%;
  }

  .btnLogin {
    --background: var(--ion-color-primary);
    --background-focused: var(--ion-color-primary);
    --background-hover: #8d0165;
    color: #fff;
  }

  .btnSignUp {
    --border-color: var(--ion-color-primary);
    --background-focused: #8d0165;
    color: var(--ion-color-primary);
  }
}


.container {
  min-height: calc(100vh - 100px);
}

.col-img {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}

.col-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-form form {
  width: 100%;
  max-width: 600px;
}

@media only screen and (max-width:992px) {

  .col-img {
    height: calc(70vh - 100px);
    max-width: 400px;
  }

  .container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width:580px) {

  .col-img {
    height: calc(50vh - 100px);
    max-width: 400px;
  }

  .div_input_icon {
    justify-content: flex-end;
  }
}

@media only screen and (max-height:800px) and (max-width:992px) {
  // .col-form {
  //   height: calc(90vh - 100px);
  //   max-width: 400px;
  // }

  .div_input_icon {
    justify-content: flex-end;
  }
}

.item_form {
  position: relative;
  display: flex;
  padding: 0 5px;
  font-size: 1.2em;
}

.div_input_icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 13px;
  bottom: 26px;
  z-index: 2;
}

.div_input_icon:nth-child(2),
.div_input_icon:nth-child(3),
.div_input_icon:nth-child(4) {
  font-size: 1.5em;
}

#passPreview {
  width: 50px;
}