<ion-header mode="ios" [translucent]="true">
	<ion-toolbar>
		<ion-title>Josy</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content mode="ios" [fullscreen]="true">
	<ion-row class="container">
		<ion-col size="12" sizeLg="6" class="col-img">
			<ion-img src="../../../assets/strategist.svg" alt=""></ion-img>
		</ion-col>

		<ion-col size="12" sizeLg="6" class="col-form">
			<form action="POST" (ngSubmit)="submit_criarConta(CriarContaForm.value)" #CriarContaForm="ngForm">
				<ion-text class="ion-text-center">
					<h1>Crie Sua Conta :)</h1>
				</ion-text>
				<ion-list mode="md">
					<div class="item_form">
						<ion-input name="nome" ngModel label="Nome:" helperText="Insira um nome válido"
							errorText="Nome inválido" minlength="3" maxlength="50" [counter]="true"
							labelPlacement="floating" fill="fixed" required></ion-input>
						<div class="div_input_icon">
							<ion-icon name="person"></ion-icon>
						</div>
					</div>
					<div class="item_form">
						<ion-input email name="email" ngModel label="Email:" type="email"
							placeholder="usuario@exemplo.com" helperText="Insira um email válido"
							errorText="Email inválido" minlength="5" maxlength="70" [counter]="true"
							labelPlacement="floating" fill="fixed" required></ion-input>
						<div class="div_input_icon">
							<ion-icon name="mail"></ion-icon>
						</div>
					</div>
					<div class="item_form">
						<ion-input [maskito]="phoneMask" [maskitoElement]="maskPredicate" name="telefone" ngModel
							label="Tel:" type="tel" placeholder="(99) 99999-9999" helperText="Insira um telefone válido"
							errorText="Telefone inválido" labelPlacement="floating" minlength="15" maxlength="15"
							[counter]="true" fill="fixed" required></ion-input>
						<div class="div_input_icon">
							<ion-icon name="call"></ion-icon>
						</div>
					</div>
					<div class="item_form">
						<ion-input name="password" ngModel label="Senha:" [type]="passwordType" minlength="8"
							helperText="Insira uma senha válida" errorText="Senha inválida" labelPlacement="floating"
							fill="fixed" required></ion-input>
						<div class="div_input_icon">
							<ion-button fill="outline" id="passPreview" (click)="hideShowPassword()"><ion-icon
									[name]="passwordIcon"></ion-icon></ion-button>
						</div>
					</div>
					<div class="item_form">
						<ion-input name="confirmPassword" ngModel label="Confirmar Senha:" [type]="passwordType"
							minlength="8" helperText="Insira a mesma senha" errorText="senhas não combinam"
							labelPlacement="floating" fill="fixed" required></ion-input>
						<div class="div_input_icon" (click)="hideShowPassword()">
							<ion-button fill="outline" id="passPreview"><ion-icon
									[name]="passwordIcon"></ion-icon></ion-button>
						</div>

					</div>
				</ion-list>
				<ion-button type="submit" expand="block" shape="round" class="btnLink"
					[disabled]="!this.CriarContaForm.form.valid">
					<ion-text style="font-size: 1.5em;"> Criar </ion-text>
				</ion-button>
				<ion-button [routerLink]="['/login']" expand="block" shape="round" fill="outline" class="btnLink btnSignUp">
					<ion-text style="font-size: 1.5em;"> Entrar com conta </ion-text>
				</ion-button>
			</form>
		</ion-col>
	</ion-row>
</ion-content>