ion-toolbar {
    --color: #fff;
    --background: var(--ion-color-primary);
}

ion-button,
ion-menu-button {
    --color: #fff;
}

ion-card {
    width: 100vw;
  
    .delete {--color: var(--ion-color-primary);}
  
    ion-card-subtitle {font-size: 1.3em;}
    ion-card-subtitle,ion-card-content {color: #000;}
  }