*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid black;
}

ion-toolbar {
    --color: #fff;
    --background: var(--ion-color-primary);
}

ion-button,
ion-menu-button {
    --color: #fff;
}

.col_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

@media only screen and (max-width:770px){
.header{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    gap: 5px;
}

.header button {
    min-width: 200px;
    padding: 7px;
}
}

.header{
    display: flex;
    height: 60px;
    gap: 20px;
}

.header button {
    width: 20%;
    border-radius: 30px;
    font-size: 2em;
    background: var(--ion-color-primary);
    transition: .5s;
}

.header button:hover {
    transform: scale(1.04);
}

.header .searchBar{
    --border-radius: 30px;
}

.cliente__header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ion-color-primary);
    border-radius: 20px 20px 0 0;
    margin-top: 15px;
}

.cliente__header ion-text{
    text-align: center;
    color: white;
}

.cliente__header .header__left,
.cliente__header .header__rigth{
    width: 30%;
}

.cliente__header .header__main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.cliente__main{
    min-height: calc(100% - 120px);
}

.noClientes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}