ion-toolbar {
  --color: #fff;
  --background: var(--ion-color-primary);
}

ion-list {
  ion-item {
    ion-icon {
      color: var(--ion-color-primary);
    }

    p {
      margin-left: 5%;
    }
  }
}