ion-toolbar {
  --color: var(--ion-color-primary);
  --background: #FFF;
}

ion-list {
  ion-item {
    ion-icon {
      color: var(--ion-color-primary);
    }

    p {
      margin-left: 5%;
    }
  }
}

ion-item .Link{
  background: rgb(161, 161, 161);
  border-radius: 15px;
}