<ion-content>
	<ion-header [translucent]="true">
		<ion-toolbar>
			<ion-title slot="start">
				<ion-title color="primary" class="logo">Josy</ion-title>
			</ion-title>
			<ion-buttons slot="end">
				<ion-button color="primary" fill="solid">
          Entrar
          <ion-icon name="log-in-sharp"></ion-icon>
        </ion-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-row class="cotainer-row">
		<ion-col size="12" class="cotainer-col ion-text-center">
			<ion-row>
				<ion-col>
					<div class="landing-text">
						<h1>Josy espaço vip</h1>
						<p>Venha conhecer a nossa unidade em Tatuí-sp, mas antes realize o seu cadastro em nosso site
							para ficar por dentro de todas as novidades.</p>
						<div class="div_btn">
							<ion-button [routerLink]="['/signup/']">cadastrar</ion-button>
						</div>
					</div>
					<app-carousel [images_carousel]="images_carousel" [autoSlide]="true" [controls]="false"></app-carousel>
				</ion-col>
			</ion-row>
			<ion-row class="slide_images_row justify-content-center">
				<ion-col class="slide_images_col ion-text-center" size="12">
					<app-slide [images_slide]="images_slide"></app-slide>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
	<app-footer></app-footer>
</ion-content>