@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  // border: 1px solid black;
}

ion-toolbar {
  --background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 40px;
  height: 100px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.747);
}

.landing-text {
  font-family: 'Roboto';
  z-index: 30;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bgc {
  background: var(--ion-color-primary);
}

.landing-text h1 {
  font-size: 3.9em;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.747);
}

@media only screen and (max-height:800px) {
  .landing-text h1 {
    font-size: 3.1em;
  }
}

.landing-text p {
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.747);
}

.landing-text .btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid var(--ion-color-primary);
  background: transparent;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  transition: all .5s ease;
  font-size: 1em;
}

.landing-text .btn:hover,
.landing-text .btn:focus {
  transform: scale(1.05);
  background: var(--ion-color-primary);
}

.logo {
  cursor: pointer;
  font-size: 50px;
}

.menu-icon {
  font-size: 40px;
  transform: scale(2);
}

.cotainer-row {
  width: 100%;
  min-height: 100vh;
  // margin-bottom: 40px;
}

.cotainer-col {
  background: #f8e5f269;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-height:650px) {
  .landing-text {
    top: 58%;
  }
}

.none{
  display: none;
}