<app-header-menu></app-header-menu>
<div class="ion-page" id="main-content">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Faturamento</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col class="content-col" class="col_content" size-lg="10" size-md="11" size="12">
        <div class="header">
          <app-coluna></app-coluna>
        </div>
        <div class="main">
          <div class="grafic">
            <app-faturamento></app-faturamento>
          </div>
          <div class="grafic">
            <app-servicos></app-servicos>
          </div>
        </div>
        <div class="main-2">
          <form (ngSubmit)="submit_add();" #formDir="ngForm">
            <ion-item class="input_container">
              <div class="input_cont">
                <ion-input type="text" id="title" placeholder="Digite o nome" class="input1" ngModel name="titulo"
                  required></ion-input>
                <label for="title">Titulo:</label>
              </div>
            </ion-item>
            <ion-item class="input_container">
              <div class="input_cont">
                <ion-input type="text" id="descricao" placeholder="Digite a descrição" class="input2" ngModel
                  name="descricao" required></ion-input>
                <label for="descricao">Descrição:</label>
              </div>
            </ion-item>
            <ion-item class="input_container">
              <div class="input_cont">
                <ion-input type="text" id="duracao" placeholder="Digite a duração" class="input3" ngModel name="duracao"
                  required></ion-input>
                <label for="duracao">Duração:</label>
              </div>
            </ion-item>
            <ion-item class="input_container">
              <div class="input_cont">
                <ion-input type="text" id="preco" placeholder="Digite o preco" class="input4" ngModel name="preco"
                  required></ion-input>
                <label for="preco">Preço:</label>
              </div>
            </ion-item>
            <ion-button type="submit" expand="block" color="success">Register</ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-content>
</div>