<app-header-menu></app-header-menu>
<div class="ion-page" id="main-content">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Faturamento</ion-title>
      <ion-button id="logOut" expand="block" fill="outline" slot="end"><ion-icon name="log-out"></ion-icon>
        <span>Sair</span>
      </ion-button>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col class="content-col" class="col_content" size-lg="10" size-md="11" size="12">
        <div class="header">
          <div class="card">
            <ion-text class="card-title">Dinheiro</ion-text>

            <ion-text class="card-money"><ion-icon name="cash-outline"></ion-icon>R$ 459,50</ion-text>
          </div>
          <div class="card">
            <ion-text class="card-title">Cartão</ion-text>

            <ion-text class="card-money"><ion-icon name="card-outline"></ion-icon>R$ 459,50</ion-text>
          </div>
          <div class="card">
            <ion-text class="card-title">Pix</ion-text>
            <ion-text class="card-money"><ion-icon name="phone-portrait-outline"></ion-icon>R$ 459,50</ion-text>
          </div>
        </div>
        <div class="main">
          <div class="grafic"></div>
          <div class="line"></div>
        </div>
        <div class="main-2">
          
        </div>
      </ion-col>
    </ion-row>
  </ion-content>