.col_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 20px;
}

.grafic {
  flex: 1 1 200px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #aaaaaa;
}

.grafic-bar {
  max-width: 1050px;
  flex: 1 1 200px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #aaaaaa;
}

/* width */
.grafic-bar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.grafic-bar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.grafic-bar::-webkit-scrollbar-thumb {
  background: #f57b7b;
  border-radius: 5px;
}

.header{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}