<div class="slide">
  <div *ngIf="images_slide && images_slide.length > 0" class="slide-container">
    <div *ngFor="let image_slide of images_slide; let i=index;" class="content">
      <ion-card class="image-card">
        <div class="images_div">
          <img [src]="image_slide.imageSrc" [alt]="image_slide.imageAlt" class="image">
          <button class="card_btn">
            Agendar
          </button>
        </div>
        <ion-card-header class="titulo">
          <span>{{image_slide.titulo}}</span>
        </ion-card-header>
        <ion-card-content class="descricao">
          <span>{{image_slide.descricao}}</span>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <button class="btn-slide btn-prev_slide">
    <ion-icon name="chevron-back-sharp" class="icon-slide" style="rotate: 180deg;"></ion-icon>
  </button>
  <button class="btn-slide btn-next_slide">
    <ion-icon name="chevron-forward-sharp" class="icon-slide"></ion-icon>
  </button>
</div>