ion-toolbar {
    --color: #fff;
    --background: var(--ion-color-primary);
}

ion-button,
ion-menu-button {
    --color: #fff;
}

ion-card {
    width: 45%;
    min-width: 45%;
    height: 200px;
    border-radius: 15px;
}

@media only screen and (max-width:900px) {
    ion-card {
        width: 100%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 0;
}

.icon_card {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background: var(--ion-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_icon {
    font-size: 3em;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.edit_icon:hover {
    transform: scale(1.1);
}

.card_context {
    position: absolute;
    left: 80px;
    top: 0;
    height: 100%;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-bottom: 10px;
}