ion-toolbar {
    --color: #fff;
    --background: var(--ion-color-primary);
}

ion-button,
ion-menu-button {
    --color: #fff;
}

ion-card {
    width: 45%;
    min-width: 45%;
    height: 200px;
    border-radius: 15px;
}

@media only screen and (max-width:900px) {
    ion-card {
        width: 100%;
    }
}

.add_area {
    margin-right: 15px;
}

.modal-header {
    backdrop-filter: blur(4px);
}


.block {
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

@media only screen and (max-width:770px) {
    .form {
        height: 50%;
    }

    .input_container {
        width: 100%;
    }

    .input_cont label {
        margin-right: 3px;
        min-width: 27%;
        text-align: center;
    }

    .input_cont input {
        min-width: 70%;
    }

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 0;
}

.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.input_cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.input_cont label {
    width: 17%;
    margin-right: 10px;
    text-align: start;
}

.input_cont input {
    width: 83%;
    outline: none;
    border: 1px solid var(--ion-color-primary);
    border-radius: 15px;
    background: white;
    padding: 5px 10px 5px 10px;
}

.icon_card {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background: var(--ion-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_icon {
    font-size: 3em;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.edit_icon:hover {
    transform: scale(1.1);
}

.card_context {
    position: absolute;
    left: 80px;
    top: 0;
    height: 100%;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-bottom: 10px;
}