<div class="ion-page" id="main-content">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Serviços</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">

    <ion-row>

      <ion-col class="container" size="12" *ngIf="CardDados && CardDados.length > 0; else noCards">
        <ion-card *ngFor="let card of CardDados; let i = index" class="card">
          <abbr>
            <ion-card-content class="icon_card">
              <ion-row>
                <ion-col class="icon__editar" (click)="editService(i)" id="open-modal-edit">
                  <ion-icon title="Editar" name="settings-outline" class="edit_icon"></ion-icon>
                </ion-col>
                <ion-col class="icon__apagar" (click)="apagarService(i)">
                  <ion-icon title="Apagar" name="trash-outline" class="edit_icon"></ion-icon>
                </ion-col>
              </ion-row>

            </ion-card-content>
          </abbr>

          <ion-card-content class="card_context">
            <ion-card-title class="title">{{card.tituloCard}}</ion-card-title>
            <p>Descrição: {{card.descricaoCard}}</p>
            <p>Duração: {{card.duracaoCard}} minutos</p>
            <p>Preço (R$): {{card.precoCard}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ng-template #noCards>
        <ion-col class="container" size="12">
          <ion-text>
            <p>Os seus serviços serão exibidos neste local.</p>
            <ion-buttons class="button_add">
              <abbr title="Agendar">
                <ion-button (click)="setOpenAdd(true)">
                  Crir serviço
                </ion-button></abbr>
            </ion-buttons>
          </ion-text>
        </ion-col>
      </ng-template>

    </ion-row>
    <!-- Fab Button -->
    <ion-fab id="open-modal" class="button_fab" horizontal="end" vertical="bottom" slot="fixed"
      (click)="setOpenAdd(true)">
      <abbr title="Adicionar">
        <ion-fab-button>
          <ion-icon id="add" name="cut-outline" expand="block"></ion-icon>
        </ion-fab-button>
      </abbr>
    </ion-fab>
    <!-- Modal Add -->
    <ion-modal #modal trigger="open-modal" mode="ios" class="modal-header modal" [initialBreakpoint]="0.61"
      [breakpoints]="[0,0.57,0.61,0.65,0.75]" backdropDismiss="false" [canDismiss]='modalCloseAdd'
      [isOpen]="modalOpenAdd">
      <ion-col>
        <ng-template class="block">
          <ion-header>
            <ion-toolbar>
              <ion-title></ion-title>
              <ion-buttons slot="start">
                <ion-button (click)="setOpenAdd(false)">Cancelar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <form action="" class="form" (ngSubmit)="submit_add(); createHandler($event)" [formGroup]="AddForm"
              #formDir="ngForm">
              <div class="form__inputs">
                <div class="inputs__context">
                  <ion-item>
                    <ion-input formControlName="titulo" type="text" label="Título:" labelPlacement="floating" id="title"
                      class="input1" placeholder="Digite o título" [clearInput]="true" required></ion-input>
                  </ion-item>
                </div>
                <div class="message-alert" *ngIf="titulo.invalid && formDir.submitted">
                  Título invalido!
                </div>
              </div>
              <div class="form__inputs">
                <div class="inputs__context">
                  <ion-item>
                    <ion-input formControlName="descricao" type="text" label="Descrição:" labelPlacement="floating"
                      id="descricao" class="input2" placeholder="Digite a descrição" [clearInput]="true"
                      required></ion-input>
                  </ion-item>
                </div>
                <div class="message-alert" *ngIf="descricao.invalid && formDir.submitted">
                  Descrição invalida!
                </div>
              </div>
              <div class="form__inputs">
                <div class="inputs__context">
                  <ion-item>
                    <ion-input formControlName="duracao" type="text" label="Duração:" labelPlacement="floating"
                      id="duracao" class="input3" placeholder="Digite a duração" [clearInput]="true"
                      required></ion-input>
                  </ion-item>
                </div>
                <div class="message-alert" *ngIf="duracao.invalid && formDir.submitted">
                  Duração invalida!
                </div>
              </div>
              <div class="form__inputs">
                <div class="inputs__context">
                  <ion-item>
                    <ion-input formControlName="preco" type="text" label="Preço:" labelPlacement="floating" id="preco"
                      class="input4" placeholder="Digite o preço" [clearInput]="true" required></ion-input>
                  </ion-item>
                </div>
                <div class="message-alert" *ngIf="preco.invalid && formDir.submitted">
                  Preço invalido!
                </div>
              </div>
              <div class="form__buttons">
                <div *ngIf="AddForm.invalid; else buttonConfirm">
                  <ion-button type="submit" expand="block" color="primary" style="opacity: 0.7;">Adicionar</ion-button>
                </div>
                <ng-template #buttonConfirm>
                  <ion-button (click)="setOpenAdd(false)" type="submit" expand="block"
                    color="primary">Adicionar</ion-button>
                </ng-template>
              </div>
            </form>
          </ion-content>
        </ng-template>
      </ion-col>
    </ion-modal>
    <!-- Modal Edit -->
    <ion-modal #modal trigger="open-modal-edit" mode="ios" class="modal-header modal" [canDismiss]="modalCloseEdit"
      [isOpen]="modalOpenEdit" [initialBreakpoint]="0.61" [breakpoints]="[0,0.55,0.61,0.65,0.75]"
      backdropDismiss="false">
      <ion-col>
        <ng-template class="block">
          <ion-header>
            <ion-toolbar>
              <ion-title></ion-title>
              <ion-buttons slot="start">
                <ion-button (click)="setOpenEdit(false)">Cancelar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <form action="" class="form" (ngSubmit)="submit_edit()" [formGroup]="EditForm" #formDir="ngForm">
              <div class="form__inputs">
                <div class="inputs__context">
                  <ion-item>
                    <ion-input type="text" formControlName="titulo_edit" id="titulo_edit" class="input1" label="Título:"
                      labelPlacement="floating" minlength="2" maxlength="50" placeholder="Digite o título"
                      [clearInput]="true" required></ion-input>
                  </ion-item>
                </div>
                <div class="message-alert" *ngIf="titulo_edit.invalid && formDir.submitted">
                  Título invalido!
                </div>
              </div>
              <div class="form__inputs">
                <div class="inputs__context">
                  <ion-item>
                    <ion-input formControlName="descricao_edit" type="text" id="descricao_edit" class="input2"
                      label="Descrição:" labelPlacement="floating" minlength="10" maxlength="160"
                      placeholder="Digite a descrição" [clearInput]="true" required></ion-input>
                  </ion-item>
                </div>
                <div class="message-alert" *ngIf="descricao_edit.invalid && formDir.submitted">
                  Descrição invalida!
                </div>
              </div>
              <div class="form__inputs">
                <div class="inputs__context">
                  <ion-item>
                    <ion-input formControlName="duracao_edit" type="text" label="Duração:" labelPlacement="floating"
                      id="duracao_edit" class="input3" placeholder="Digite a duração" minlength="1" maxlength="5"
                      [clearInput]="true" required></ion-input>
                  </ion-item>
                </div>
                <div class="message-alert" *ngIf="duracao_edit.invalid && formDir.submitted">
                  Duração invalida!
                </div>
              </div>
              <div class="form__inputs">
                <div class="inputs__context">
                  <ion-item>
                    <ion-input formControlName="preco_edit" type="text" label="Preço:" labelPlacement="floating"
                      id="preco_edit" class="input4" placeholder="Digite o preco" minlength="2" maxlength="14"
                      [clearInput]="true" required></ion-input>
                  </ion-item>
                </div>
                <div class="message-alert" *ngIf="preco_edit.invalid && formDir.submitted">
                  Preço invalido!
                </div>
              </div>
              <div class="form__buttons">
                <div *ngIf="EditForm.invalid; else buttonConfirmEdit">
                  <ion-button type="submit" expand="block" color="primary" style="opacity: 0.7;">Editar</ion-button>
                </div>
                <ng-template #buttonConfirmEdit>
                  <ion-button (click)="setOpenEdit(false)" type="submit" expand="block"
                    color="primary">Editar</ion-button>
                </ng-template>
              </div>
            </form>
          </ion-content>
        </ng-template>
      </ion-col>
    </ion-modal>

    <ion-alert header="Tem certeza?" [buttons]="alertButtons" (didDismiss)="setResult($event)" mode="ios"
      [isOpen]="modalOpenDelete" backdropDismiss="false"></ion-alert>
  </ion-content>
</div>