* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  // border: 1px solid black;
}

ion-toolbar {
  --background: #D819A3;
  padding: 0 40px;    
  font-size: 20px;
  color: #FFF;
}

.menu-icon{
  font-size: 30px;
}

.cotainer-row {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 40px;
}

.cotainer-col {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}