ion-button {
  color: #fff;
  background-color: #fff;
}

ion-card {
  width: 100vh;
}

.content_list {
  display: flex;
  justify-content: center;
}

.list__horario {
  border-left: 2px var(--ion-color-primary) solid;
  padding-left: 0.4em;
}
