ion-toolbar {
    --color: #fff;
    --background: var(--ion-color-primary);
}

ion-button,ion-menu-button {--color: #fff;}

ion-card{
    width: 100vh;
}

.content_list{
    display: flex;
    justify-content: center;
}