ion-toolbar {
    --color: var(--ion-color-primary);
    --background: #FFF;
}

ion-menu-button {
    --color: var(--ion-color-primary);
}

ion-button{
    color: #FFF;
    background-color: #FFF;
}

ion-card{
    width: 100vh;
}

.content_list{
    display: flex;
    justify-content: center;
}

.list__horario{
    border-left: 2px var(--ion-color-primary) solid;
    padding-left: 0.4em;
}

