/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/*Import de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Orelega+One&display=swap');

* {
  font-family: var(--text);
}

.ion-page {
  ion-header {
    ion-toolbar {
      --color: #FFF;
      --background: var(--ion-color-primary);
    }
  }

  ion-button,
  ion-menu-button {
    --color: #FFF;
  }

  ion-spinner {
    height: 70px !important;
    width: 70px !important;
  }

  .spinner_cont {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message-alert {
    text-align: left;
    width: 100%;
    color: red;
    padding-left: 10px;
    border-left: 2px solid red;
    margin-top: 5px;
  }

  ion-card{
    box-shadow: 2px 2px 5px rgba(95, 95, 95, 0.699);
  }

}