ion-toolbar {
  --color: var(--ion-color-primary);
  --background: #FFF;
}

ion-button,
ion-menu-button {
  --color: white;
}

.toolbar {
  border-radius: 5px;
}

.formFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width:770px) {

  .form_modalAdd,
  .form_modalEdit {
    padding: 0px 40px 0px 40px;
  }
}

.date {
  display: flex;
  justify-content: flex-start;
}

.date input {
  font-size: 1.2em;
  border: 2px solid var(--ion-color-primary);
  border-radius: 5px;
  padding: 4px;
  background: white;
  color: var(--ion-color-primary);
  outline: none;
  cursor: pointer;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(54%) sepia(80%) saturate(6696%) hue-rotate(323deg) brightness(99%) contrast(106%);
}

.edit,
.info {
  color: #FFF;
}

@media only screen and (max-width: 500px) {
  input {
    font-size: 1.05em;
  }
}

.inputSearch {
  display: flex;
  justify-content: flex-end;
}

// agendamentos
ion-card {
  width: 100vw;

  .ok {
    --color: var(--ion-color-success);
  }

  .waiting {
    --color: var(--ion-color-warning);
  }

  #horario {
    --color: var(--ion-color-primary);
  }

  .delete {
    --color: var(--ion-color-primary);
  }

  ion-card-subtitle {
    font-size: 1.3em;
  }

  ion-card-subtitle,
  ion-card-content {
    color: #000;
  }
}

.button_add{
  justify-content: center;
}

.button_modal, .button_add {
  margin-right: 15px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--ion-color-primary);
}

.calendario_modal {
  width: 100%;
  margin: 0 auto;
}

.form_modalAdd,
.form_modalEdit {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
}

.header_form {
  width: 100%;
}

.modalCont {
  min-height: 100%;
  overflow: auto;
}

/* width */
.modalCont::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modalCont::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.modalCont::-webkit-scrollbar-thumb {
  background: #ffc6c6;
  border-radius: 5px;
}

#add_area {
  margin-right: 15px;
}

.list-content{
  width: 90%;
}

ion-datetime {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 16px;
  max-width: 100%;
}

.time_title{
display: flex;
justify-content: center;
align-items: center;
gap: 3px;
}

.message-alert {
  text-align: left;
  width: 100%;
  color: red;
  padding-left: 10px;
  border-left: 2px solid red;
}

.mensegem{
  background: green;
}

.item_form{
  display: flex;
  flex-direction: column;
}

ion-spinner{
  height: 70px !important;
  width: 70px !important;
}

.spinner_cont{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}