ion-toolbar {
  --color: var(--ion-color-primary);
  --background: #FFF;
}

ion-button,
ion-menu-button {
  --color: var(--ion-color-primary);
}

.toolbar {
  border-radius: 5px;
}

.formFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width:770px) {

  .form_modalAdd,
  .form_modalEdit {
    padding: 0px 40px 0px 40px;
  }
}

.date {
  display: flex;
  justify-content: flex-start;
}

.date input {
  font-size: 1.2em;
  border: 2px solid var(--ion-color-primary);
  border-radius: 5px;
  padding: 4px;
  background: white;
  color: var(--ion-color-primary);
  outline: none;
  cursor: pointer;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.6) brightness(50%) sepia(100%) saturate(20000%) hue-rotate(300deg);
}

.edit,
.info {
  color: #FFF;
}

@media only screen and (max-width: 500px) {
  input {
    font-size: 1.05em;
  }
}

.inputSearch {
  display: flex;
  justify-content: flex-end;
}

// agendamentos
ion-card {
  width: 100vw;

  .ok {
    --color: var(--ion-color-success);
  }

  .waiting {
    --color: var(--ion-color-warning);
  }

  #horario {
    --color: var(--ion-color-primary);
  }

  .delete {
    --color: var(--ion-color-primary);
  }

  ion-card-subtitle {
    font-size: 1.3em;
  }

  ion-card-subtitle,
  ion-card-content {
    color: #000;
  }
}

.btn-agendar {
  // --color: white;
  margin-right: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.calendario_modal {
  width: 100%;
  margin: 0 auto;
}

.form_modalAdd,
.form_modalEdit {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
}

.modalCont {
  min-height: 100%;
  overflow: auto;
}