ion-toolbar {
  --color: var(--ion-color-primary);
  --background: #FFF;
}

ion-button,
ion-menu-button {
  --color: white;
}

.toolbar {
  border-radius: 5px;
}

.formFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width:770px) {

  .form_modalAdd,
  .form_modalEdit {
    padding: 0px 40px 0px 40px;
  }
}

.edit,
.info {
  color: #FFF;
}

@media only screen and (max-width: 500px) {
  input {
    font-size: 1.05em;
  }
}

// agendamentos
ion-card {
  width: 100vw;

  .ok {
    --color: var(--ion-color-success);
  }

  .waiting {
    --color: var(--ion-color-warning);
  }

  #horario,
  #data {
    --color: var(--ion-color-primary);
  }

  ion-card-subtitle {
    font-size: 1.3em;
  }

  ion-card-subtitle,
  ion-card-content {
    color: #000;
  }
}

.button_add {
  justify-content: center;
}

.button_modal,
.button_add {
  margin-right: 15px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--ion-color-primary);
}

.calendario_modal {
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 10px;
}

.form_modalAdd,
.form_modalEdit {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
}

.header_form {
  width: 100%;
}

.modalCont {
  min-height: 100%;
  overflow: auto;
}

/* width */
.modalCont::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modalCont::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.modalCont::-webkit-scrollbar-thumb {
  background: #ffc6c6;
  border-radius: 5px;
}

#add_area {
  margin-right: 15px;
}

.list-content {
  width: 90%;
}

.time_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.message-alert {
  text-align: left;
  width: 100%;
  color: red;
  padding-left: 10px;
  border-left: 2px solid red;
}

#message.success {
  --background: #65dd61;
}

#message.fail {
  --background: #f75656;
}

.item_form {
  display: flex;
  flex-direction: column;
}

ion-datetime {
  max-width: 100%;
}

ion-spinner {
  height: 70px !important;
  width: 70px !important;
}

.spinner_cont {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__names {
  text-transform: capitalize;
}

@media only screen and (max-width:900px) {
  .header__search {
    flex-direction: column;
  }
}

.header__search div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  margin: 0;
  padding: 0;
}

.item__searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5%;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 4%;
}

.calendar__filter {
  background: white;
  width: 90%;
  max-height: 100%;
  height: 450px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.calendar__filter__title {
  color: var(--ion-color-primary);
}

.calendar__toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.precoAgend {
  display: flex;
  align-items: center;
}
.tituloPreco {
  min-width: 80px;
  margin: 0 10px 0 0;
}