form {
  margin: 3%;
  padding: 3%;
  border-radius: 20px;
  border: 2px solid #000;
  ion-icon{color: var(--ion-color-primary);}
  .btnLink {margin: 3% 15% 3% 15%;}
  ion-text{
    h1{
      margin-bottom: 7%;
    }
  }
}

.col-img{
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}

.col-form{
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
