// Header
ion-toolbar {
  --color:#fff;
  --background: var(--ion-color-primary);
}
ion-button,
ion-menu-button {
  --color: #fff;
}

.main {
  margin-top: 1.7em;
}

ion-card-title{
  ion-icon,ion-text{
  font-size: 1.7em;
}
}

ion-card-content{
  ion-text > p{
    font-size: 1.3em;
  }
}