<div class="ion-page" id="main-content">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mensagens</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-row class="main ion-align-items-center ion-justify-content-center ion-text-center">
      <ion-col class="container">
        <!-- Confirmação -->
        <ion-card color="light">
          <ion-card-header color="success">

            <ion-card-title>
              <ion-icon name="checkbox"></ion-icon>
              <ion-col size="10"><ion-text>Confirmação</ion-text></ion-col>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-text class="descricao">
              <p class="placeholder">Espaço reservado para texto</p>
            </ion-text>

            <ion-card-content>

              <ion-button expand="block" color="success">
                <ion-text>
                  <p class="compartilhar">Compartilhar</p>
                </ion-text>
                <ion-icon name="arrow-redo"></ion-icon>
              </ion-button>

              <ion-button id="btn-editar" expand="block" (click)="setOpenConfirm(true)" class="btn-editar"
                fill="outline" color="success">
                <ion-text color="success">
                  <p>Editar</p>
                </ion-text>
                <ion-icon color="success" slot="end" name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-modal #modal trigger="btn-editar2" mode="ios" class="modal-header2" [isOpen]="modalOpenConfirm" backdropDismiss="false">
                <ion-col>
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-title>Editar</ion-title>

                        <ion-buttons slot="start">
                          <ion-button (click)="setOpenConfirm(false)">
                            Cancelar
                          </ion-button>
                        </ion-buttons>

                        <ion-buttons slot="end">
                          <ion-button (click)="setOpenConfirm(false)">
                            Confirmar
                          </ion-button>
                        </ion-buttons>

                      </ion-toolbar>
                    </ion-header>

                    <ion-content>
                      <ion-item>
                        <ion-input type="text" placeholder="Insira sua mensagem pré-definida"></ion-input>
                      </ion-item>
                    </ion-content>
                  </ng-template>
                </ion-col>
              </ion-modal>
            </ion-card-content>
          </ion-card-content>
        </ion-card>
        <!-- Reagendamento -->
        <ion-card color="light">
          <ion-card-header color="secondary">

            <ion-card-title>
              <ion-icon name="time"></ion-icon>
              <ion-col size="10"><ion-text>Reagendamento</ion-text></ion-col>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-text class="descricao">
              <p class="placeholder">Espaço reservado para texto</p>
            </ion-text>

            <ion-card-content>

              <ion-button expand="block" color="secondary">
                <ion-text>
                  <p class="compartilhar">Compartilhar</p>
                </ion-text>
                <ion-icon name="arrow-redo"></ion-icon>
              </ion-button>

              <ion-button id="btn-editar" expand="block" (click)="setOpenReagen(true)" class="btn-editar" fill="outline"
                color="secondary">
                <ion-text>
                  <p>Editar</p>
                </ion-text>
                <ion-icon color="secondary" slot="end" name="pencil-outline"></ion-icon>
              </ion-button>

              <ion-modal #modal trigger="btn-editar2" mode="ios" class="modal-header2" [isOpen]="modalOpenReagen"
                backdropDismiss="false">
                <ion-col>
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-title>Editar</ion-title>

                        <ion-buttons slot="start">
                          <ion-button (click)="setOpenReagen(false)">
                            Cancelar
                          </ion-button>
                        </ion-buttons>

                        <ion-buttons slot="end">
                          <ion-button (click)="setOpenReagen(false)">
                            Confirmar
                          </ion-button>
                        </ion-buttons>

                      </ion-toolbar>
                    </ion-header>

                    <ion-content>
                      <ion-item>
                        <ion-input type="text" placeholder="Insira sua mensagem pré-definida"></ion-input>
                      </ion-item>
                    </ion-content>
                  </ng-template>
                </ion-col>
              </ion-modal>
            </ion-card-content>
          </ion-card-content>
        </ion-card>
        <!-- Cancelamento -->
        <ion-card color="light">
          <ion-card-header color="danger">

            <ion-card-title>
              <ion-icon name="close-circle"></ion-icon>
              <ion-col size="10"><ion-text>Cancelamento</ion-text></ion-col>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-text class="descricao">
              <p class="placeholder">Espaço reservado para texto</p>
            </ion-text>

            <ion-card-content>

              <ion-button expand="block" color="danger">
                <ion-text>
                  <p class="compartilhar">Compartilhar</p>
                </ion-text>
                <ion-icon name="arrow-redo"></ion-icon>
              </ion-button>

              <ion-button id="btn-editar" expand="block" (click)="setOpenCancel(true)" class="btn-editar" fill="outline"
                color="danger">
                <ion-text>
                  <p>Editar</p>
                </ion-text>
                <ion-icon color="danger" slot="end" name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-modal #modal trigger="btn-editar2" mode="ios" class="modal-header2" [isOpen]="modalOpenCancel"
                backdropDismiss="false">
                <ion-col>
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-title>Editar</ion-title>

                        <ion-buttons slot="start">
                          <ion-button (click)="setOpenCancel(false)">
                            Cancelar
                          </ion-button>
                        </ion-buttons>

                        <ion-buttons slot="end">
                          <ion-button (click)="setOpenCancel(false)">
                            Confirmar
                          </ion-button>
                        </ion-buttons>

                      </ion-toolbar>
                    </ion-header>

                    <ion-content>
                      <ion-item>
                        <ion-input type="text" placeholder="Insira sua mensagem pré-definida"></ion-input>
                      </ion-item>
                    </ion-content>
                  </ng-template>
                </ion-col>
              </ion-modal>
            </ion-card-content>
          </ion-card-content>
        </ion-card>
        <!-- Cobrar -->
        <ion-card color="light">
          <ion-card-header color="warning">

            <ion-card-title>
              <ion-icon name="cash"></ion-icon>
              <ion-col size="10"><ion-text>Cobrar</ion-text></ion-col>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-text class="descricao">
              <p class="placeholder">Espaço reservado para texto</p>
            </ion-text>

            <ion-card-content>

              <ion-button expand="block" color="warning">
                <ion-text>
                  <p class="compartilhar">Compartilhar</p>
                </ion-text>
                <ion-icon name="arrow-redo"></ion-icon>
              </ion-button>

              <ion-button id="btn-editar" expand="block" (click)="setOpenCobrar(true)" class="btn-editar" fill="outline"
                color="warning">
                <ion-text>
                  <p>Editar</p>
                </ion-text>
                <ion-icon color="warning" slot="end" name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-modal #modal trigger="btn-editar2" mode="ios" class="modal-header2" [isOpen]="modalOpenCobrar" backdropDismiss="false">
                <ion-col>
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-title>Editar</ion-title>

                        <ion-buttons slot="start">
                          <ion-button (click)="setOpenCobrar(false)">
                            Cancelar
                          </ion-button>
                        </ion-buttons>

                        <ion-buttons slot="end">
                          <ion-button (click)="setOpenCobrar(false)">
                            Confirmar
                          </ion-button>
                        </ion-buttons>

                      </ion-toolbar>
                    </ion-header>

                    <ion-content>
                      <ion-item>
                        <ion-input type="text" placeholder="Insira sua mensagem pré-definida"></ion-input>
                      </ion-item>
                    </ion-content>
                  </ng-template>
                </ion-col>
              </ion-modal>
            </ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
</div>