ion-toolbar {
  --color: var(--ion-color-primary);
  --background: #FFF;
}

ion-button,
ion-menu-button {
  --color: var(--ion-color-primary);
}

.main {
  margin-top: 1.7em;
}

ion-card-title{
  ion-icon,ion-text{
  font-size: 1.7em;
}
}

ion-card-content{
  ion-text > p{
    font-size: 1.3em;
  }
}