ion-toolbar {
    --color: #fff;
    --background: #d819a3;
  }
  ion-button, ion-menu-button {
    --color: #fff;
  }

  ion-card{
    color: #FFF;
    height: 400px;
  }

  ion-card .divisor{
    height: 200px;
  }

  .titles{
    height: 100px;
  }

  .icons{
    font-size: 16px;
  }